body {
    font-family: 'Montserrat', sans-serif;
}

.bg-img {
    background-image: url("../img//bg-img1.jpg");
    z-index: 0;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    transition: background-image 300ms ease-in 200ms;
}